golang/http-server-example/credential-harvester/public/index_files/ui.js linguist-vendored=true
golang/http-server-example/credential-harvester/public/index_files/app.js linguist-vendored=true
golang/http-server-example/credential-harvester/public/index_files/common.js linguist-vendored=true